<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="movie">{{movie.title}}</ion-title>

    <ion-buttons end>
      <button ion-button incon-only style="font-size: 1.7em" (click)=toggleFavorite()>
        <ion-icon [name]="isFavorite ? 'star':'star-outline'"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card *ngIf="movie">
    <img [src]="movie.poster_path" />

    <ion-card-header>
      <h2>Synopsis
        <ion-badge color="primary">{{movie.vote_average}}</ion-badge>
      </h2>

    </ion-card-header>

    <ion-card-content>{{movie.overview}}</ion-card-content>
  </ion-card>
</ion-content>
